.product-page-container {
	margin-bottom: 62px;
}

.product-page-list-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}



.product-page-total-container{
	position: fixed;
    bottom: 0px;
    width: 90%;
    background: #fff;
}

.product-page-total {
	display: flex;
	justify-content: flex-end;
}

.product-page-colour-filter {
	width: 250px;
	margin-left: 5px;
}

@media only screen and (max-width: 768px) {
	.product-page-colour-filter {
		width: 100%;
		margin-left: 0px;
	}
}
